h1{
  font-size: 300%;
  text-align:center;
  margin-right: 5%;
  font-family: 'Raleway', sans-serif;
}

p{
 width: 1000px;
 font-family: 'Raleway', sans-serif;
 font-size: 120%;
 text-align:center;
 margin-left:10%;
}

body{
  background-color:#E3DEDE
}

img{
    border-radius:100px;
    height:350px;
    width:475px;
    margin-bottom:55px;
    margin-left:390px;
}
