h1{
  color: black;
  font-size: 400%;
  font-family: 'Raleway', sans-serif;
  text-align:center;
}

p{
 font-family: 'Raleway', sans-serif;
 font-size: 170%;
}
font{
  font-size: 200%;
  font-family: 'Raleway', sans-serif;
}
